<div class="p-4">
  <h5 class="mb-5 pb-4 fw-medium" style="font-size: 19.5px">
    Employee Listing
  </h5>
  <div class="container bg-white p-3 my-5 rounded">
    <div class="row py-3">
      <div class="col-md-8">
        <span class="form-control w-250px py-1 form-control-solid ms-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect
              opacity="0.5"
              x="17.0365"
              y="15.1223"
              width="8.15546"
              height="2"
              rx="1"
              transform="rotate(45 17.0365 15.1223)"
              fill="currentColor"
            ></rect>
            <path
              d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
              fill="currentColor"
            ></path>
          </svg>
          <input
            type="text"
            placeholder="Search Employees"
            class="d-inline form-control-solid border-0 px-2"
            style="outline: 0; padding: 5px 0px"
            (input)="onInputChange($event)"
          />
        </span>
      </div>
      <div class="col-md-4 ps-4 pe-5" style="text-align: end">
        <button
          class="btn d-inline bg-blue text-white p-2 px-3 me-5"
          (click)="openModal(0)"
        >
          Add Employee
        </button>
      </div>
    </div>
    <table class="table m-auto">
      <thead class="ps-5">
        <tr>
          <th class="ps-5">#</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>STATUS</th>
          <th>BRANCH</th>
          <th>PHONE NO.</th>
          <th class="ps-5">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredData; let i = index">
          <td class="ps-5">{{ i + 1 }}</td>
          <td class="emp-name">{{ employee?.name }}</td>
          <td>{{ employee?.email }}</td>
          <td>
            <span *ngIf="employee?.isActive" class="active">Active</span>

            <span *ngIf="!employee?.isActive" class="locked">Locked</span>
          </td>
          <td>{{ employee?.branch?.branchName }}</td>
          <td>{{ employee?.phoneNumber }}</td>
          <td>
            <select
              *ngIf="employee?.isActive"
              class="form-control form-select form-control-solid actions-select w-95px d-inline mx-3"
              (change)="onOptionSelected($event)"
            >
              <option value="action">Action</option>
              <option
                value="edit/{{ employee.employeeId }}"
              >
                Edit
              </option>
              <option
                value="{{ employee.employeeId }}"
                (click)="changeIsActive(employee.employeeId!)"
              >
                Delete
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="page-indexer d-flex justify-content-end me-10">
      <nav aria-label="Page navigation example ">
        <ul class="pagination">
          <li class="page-item">
            <button
              [disabled]="$page === 1 || $totalItems === 0"
              (click)="getPaginatedData($page - 1)"
              class="page-link border-none"
              href="#"
              aria-label="Previous"
              style="color: #7e8299"
            >
              <span aria-hidden="true" style="color: #7e8299">&laquo;</span>
              <span class="sr-only" style="color: #7e8299"> Previous</span>
            </button>
          </li>

          <li class="page-item">
            <button
              [disabled]="$page * $pageSize >= $totalItems || $totalItems === 0"
              (click)="getPaginatedData($page + 1)"
              class="page-link"
              style="color: #7e8299"
              href="#"
              aria-label="Next"
            >
              <span class="sr-only" style="color: #7e8299">Next </span>
              <span aria-hidden="true" style="color: #7e8299">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="employeeModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog custom-modal-dialog modal-dialog-centered"
    role="document"
  >
    <div class="modal-content custom-modal-content">
      <div class="modal-header">
        <h2 class="modal-title ps-2 pt-1 fw-medium" id="exampleModalLongTitle">
          <span>{{ allowEdit ? "Edit Employee" : "Add Employee" }}</span>
        </h2>
        <span (click)="close()" class="svg-icon svg-icon-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect
              opacity="0.5"
              x="6"
              y="17.3137"
              width="16"
              height="2"
              rx="1"
              transform="rotate(-45 6 17.3137)"
              fill="currentColor"
            ></rect>
            <rect
              x="7.41422"
              y="6"
              width="16"
              height="2"
              rx="1"
              transform="rotate(45 7.41422 6)"
              fill="currentColor"
            ></rect>
          </svg>
        </span>
      </div>
      <div class="modal-body p-0">
        <div class="modal-body py-10">
          <!--begin::Scroll-->
          <div
            class="scroll-y me-n7 pe-7"
            id="kt_modal_add_customer_scroll"
            data-kt-scroll="true"
            data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto"
            data-kt-scroll-dependencies="#kt_modal_add_customer_header"
            data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
            data-kt-scroll-offset="300px"
            style="max-height: 92px"
          >
            <form [formGroup]="employeeForm" (ngSubmit)="onsubmit()">
              <div class="form-inputs px-5">
                <div class="fv-row mb-7 fv-plugins-icon-container form-group">
                  <label class="required fw-medium mb-2 mt-3">Name</label>

                  <input
                    type="text"
                    id="name"
                    class="form-control form-control-solid"
                    formControlName="name"
                    placeholder=""
                    fdprocessedid="8gp9el"
                  />
                  <span
                    *ngIf="
                      employeeForm.get('name')?.invalid &&
                      employeeForm.get('name')?.touched
                    "
                  >
                    <span
                      *ngIf="employeeForm.get('name')?.hasError('required')"
                    >
                      Employee name is required
                    </span>
                    <span
                      *ngIf="employeeForm.get('name')?.hasError('minlength')"
                    >
                      name must be between 3 and 50 letters
                    </span>
                    <span
                      *ngIf="employeeForm.get('name')?.hasError('maxlength')"
                    >
                      name must be between 3 and 50 letters
                    </span>
                  </span>
                </div>

                <div class="fv-row mb-7 fv-plugins-icon-container form-group">
                  <label class="required fw-medium mb-2 mt-4">UserName</label>

                  <input
                    type="text"
                    id="userName"
                    class="form-control form-control-solid"
                    formControlName="userName"
                    placeholder=""
                    fdprocessedid="8gp9el"
                  />
                  <span
                    *ngIf="
                      employeeForm.get('userName')?.invalid &&
                      employeeForm.get('userName')?.touched
                    "
                  >
                    <span
                      *ngIf="employeeForm.get('userName')?.hasError('required')"
                    >
                      Employee username is required
                    </span>
                    <span
                      *ngIf="
                        employeeForm.get('userName')?.hasError('minlength')
                      "
                    >
                      name must be between 3 and 15 letters
                    </span>
                    <span
                      *ngIf="
                        employeeForm.get('userName')?.hasError('maxlength')
                      "
                    >
                      name must be between 3 and 15 letters
                    </span>
                  </span>
                </div>

                <div class="fv-row mb-7 fv-plugins-icon-container form-group">
                  <label class="required fw-medium mb-2 mt-4">Email</label>

                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-solid"
                    formControlName="email"
                    placeholder=""
                    fdprocessedid="8gp9el"
                  />

                  <span
                    *ngIf="
                      employeeForm.get('email')?.invalid &&
                      employeeForm.get('email')?.touched
                    "
                  >
                    please enter the valid email
                  </span>
                </div>

                <div class="fv-row mb-7 fv-plugins-icon-container form-group">
                  <label class="required fw-medium mb-2 mt-4">Password</label>

                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-solid"
                    formControlName="password"
                    placeholder=""
                    fdprocessedid="8gp9el"
                    style="outline: none"
                  />
                  <span
                    *ngIf="
                      employeeForm.get('password')?.invalid &&
                      employeeForm.get('password')?.touched
                    "
                  >
                    <span
                      *ngIf="
                        employeeForm.get('password')?.hasError('minlength')
                      "
                    >
                      min length is 6
                    </span>
                    <span
                      *ngIf="
                        employeeForm.get('password')?.hasError('maxlength')
                      "
                    >
                      max length is 10
                    </span>
                    <span
                      *ngIf="employeeForm.get('password')?.hasError('required')"
                    >
                      password is required
                    </span>
                  </span>
                </div>
                <div class="fv-row mb-7 fv-plugins-icon-container form-group">
                  <label class="required fw-medium mb-2 mt-4">Phone</label>

                  <input
                    type="text"
                    id="phoneNumber"
                    class="form-control form-control-solid"
                    formControlName="phoneNumber"
                    placeholder=""
                    fdprocessedid="8gp9el"
                  />
                  <span
                    *ngIf="
                      employeeForm.get('phoneNumber')?.invalid &&
                      employeeForm.get('phoneNumber')?.touched
                    "
                  >
                    <span
                      *ngIf="
                        employeeForm.get('phoneNumber')?.hasError('required')
                      "
                    >
                      Phone number is required
                    </span>
                    <span
                      *ngIf="
                        employeeForm.get('phoneNumber')?.hasError('pattern')
                      "
                    >
                      Phone must be 11 number and start with 010 or 012 or 015
                      or 011
                    </span>
                  </span>
                </div>

                <!-- <div class="fv-row mb-7 fv-plugins-icon-container form-group">
                  <label class="required fw-medium mb-2 mt-4">Privilege</label>
                  <select
                    formControlName="privellge_Id"
                    aria-label="Select a Privilege"
                    data-control="select2"
                    data-placeholder="Select a Country..."
                    data-dropdown-parent="#kt_modal_add_customer"
                    class="form-select form-select-solid fw-bolder select2-hidden-accessible"
                    data-select2-id="select2-data-10-3e5t"
                    tabindex="-1"
                    aria-hidden="true"
                  >
                    <option value="" data-select2-id="select2-data-22-5c0i">
                      Select a Privilege...
                    </option>
                    <option
                      *ngFor="let item of privilegesarray"
                      value="{{ item.privellge_Id }}"
                    >
                      {{ item.privellgeName }}
                    </option>
                  </select>

                  <span
                    *ngIf="
                      employeeForm.get('privellge_Id')?.invalid &&
                      addEmployeeForm.get('privellge_Id')?.touched
                    "
                  >
                    Privilege is required
                  </span>
                </div> -->

                <div class="fv-row mb-7 fv-plugins-icon-container form-group">
                  <label class="required fw-medium mb-2 mt-4">Branch</label>

                  <select
                    formControlName="branchid"
                    aria-label="Select a Branch"
                    data-control="select2"
                    data-placeholder="Select a Branch..."
                    data-dropdown-parent="#kt_modal_add_customer"
                    class="form-select form-select-solid fw-bolder select2-hidden-accessible"
                    data-select2-id="select2-data-10-3e5t"
                    tabindex="-1"
                    aria-hidden="true"
                  >
                    <option value="" data-select2-id="select2-data-22-5c0i">
                      Select a Branch...
                    </option>
                    <option
                      *ngFor="let item of branchesArray"
                      value="{{ item.id }}"
                    >
                      {{ item.branchName }}
                    </option>
                  </select>

                  <span
                    *ngIf="
                      employeeForm.get('branchid')?.invalid &&
                      employeeForm.get('branchid')?.touched
                    "
                  >
                    Branch is required
                  </span>
                </div>
              </div>

              <div class="modal-footer mt-4">
                <div class="model-footer-container pt-3">
                  <button
                    type="reset"
                    id="kt_modal_add_customer_cancel"
                    class="btn me-3 ms-3 bg-gray"
                    style="color: #7e8299"
                    id="btn-reset"
                    (click)="close()"
                  >
                    Discard
                  </button>

                  <button
                    type="submit"
                    id="kt_modal_add_customer_submit"
                    class="btn btn-primary bg-blue border-0"
                    [ngClass]="allowEdit ? 'd-none' : ''"
                  >
                    <span class="indicator-label"> Submit </span>
                  </button>
                  <button
                    type="submit"
                    id="kt_modal_add_customer_submit"
                    class="btn btn-primary bg-blue border-0"
                    [ngClass]="!allowEdit ? 'd-none' : ''"
                  >
                    <span class="indicator-label"> Edit </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
